*{
    box-sizing: border-box;
}
:root{
    
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

/*### Neutral*/

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--ff-family:'Fraunces', serif;
--ff-family2:'Montserrat', sans-serif;

}


img{
    max-width: 100%
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--ff-family);
}
.article{
    display: flex;
    max-width: 700px;
    margin-inline:auto;
    display: flex;
    height: 520px;
    gap:30px;
    background-color: var(--White);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 10px  hsl(228, 12%, 48% , .1);
}
.img-container{
    width: 50%;
    height: 100%;
}
.product-img{
    display: block;
    height: 100%;
    width: 100%;
}

.article__description{
    width: 45%;
    padding-right: 30px;
}
.article__text{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: .9rem;
    letter-spacing: 5px;
    color:  var(--Very-dark-blue);
    font-family: var(--ff-family2);
}
.text__title{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2.67rem;
    line-height: 0.95;
    color: var(--Very-dark-blue)
}
.text__description{
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--Dark-grayish-blue);
    margin-bottom: 0;
    font-family: var(--ff-family2);
}
.article__price{
    display: flex;
    align-items: center;
    gap:30px;
    margin-top: 10px ;
    margin-bottom: 15px;
}
.price--big{
    font-size: 2.1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--Dark-cyan);
    font-weight: 700
}
.price--small{
    font-size: 1.1rem;
    text-decoration: line-through;
    font-family: var(--ff-family2);
}
.button{
    text-decoration: none;
    padding: 15px;
    background-color: var(--Dark-cyan);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    border: none;
    color: var(--White);
    cursor: pointer;
    transition: background ease 100ms ,transform ease 100ms;
    
}
.button:hover{
    background-color:  hsl(158, 30%, 10%);
    transform: scale(1.02)
}
.icon{
    margin-right: 10px
}
.text{
    margin: 0;
    font-size: 1.05rem
}
@media screen and (max-width:376px){
    body{
        padding: 25px 15px;
        display: block;
        height: 100%;
    }
    .article{
        flex-direction: column;
        height: 800px ;
        gap:10px;
        border-radius: 10px;

    }
    .img-container{
    width: 100%;
    height: 300px;
        overflow: hidden
    }
    .product-img{
        display: block;
        height: 100%;
        width: 100%;
        object-fit:cover;
    }

    .article__description{
        width: 100%;
        padding: 10px 30px;
    }
    .article__text{
        margin-top: 10px;
    }
    .text__title{
        font-size: 2.3rem
    }
}